.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(30, 30, 30)
}
.navbar_logo{
    height: 4rem;
    /* height: 70px; */
    /* width: 100px; */
    /* background-color: white; */
    display: flex;
    align-items: center;
    /* border-radius: 50%; */
    /* overflow: hidden; */
}
.logo{
    height: 7rem;
    /* height: 80px; */
    /* width: 100%; */
    /* overflow: hidden; */

}
.desktop_menu{
    height: 4rem;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}
.desktopMenuListItem{
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    /* font-family: 'Times New Roman', Times, serif; */
    transition: 1s;
}
.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.desktop_menu_btn_div{
    height: 4rem;
    display: flex;
    align-items: center;
    /* background-color: black; */
    /* width: 300px; */
    /* cursor: pointer; */
}
.desktop_menu_btn{
    height: 40px;
    width: 170px;
    border-radius: 2rem;
    outline: none;
    border: none;
    font-size: 16px;
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: white;
    color: black;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 1rem; */
    cursor: pointer;
}
.desktop_menu_img{
    object-fit: cover;
    height: 1.5rem;
    width: 1rem;
    /* margin: 1rem; */
    margin-left: 10px;
}
.active{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}
.mobile_menu{
    /* width: 4%; */
    display: none;
    object-fit: cover;
    height: 2.5rem;
}
.nav_menu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40, 40, 40);
    border-radius: 1rem;
}
.list_item{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: rgb(30, 30, 30);
}

@media screen and (max-width: 740px) {
    .mobile_menu{
        display: flex;
    }
    .desktop_menu{
        display: none;
    }
    .desktop_menu_btn_div{
        display: none;
    }
}