.footer{
    text-align: center;
    margin-bottom: 20px;
    width: 100vw;
    /* max-width: 65rem; */
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}